button.joinTeamButton {
  margin-top: 10px;
  background-color: #28a745;
}

button.joinTeamButton:hover {
  background-color: #218838;
}

button.joinTeamButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
