/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h3 {
  color: #555;
  margin: 10px 0;
}

/* Contenedor de búsqueda */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  width: calc(100% - 120px);
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056b3;
}

/* Estilos para la lista de equipos */
.team {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team p {
  margin: 5px 0;
  color: #555;
}

/* Botón para unirse a equipos */
button.joinTeamButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button.joinTeamButton:hover {
  background-color: #0056b3;
}

button.joinTeamButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Botón para crear equipo y cerrar sesión */
#logoutButton,
#createTeamButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

#logoutButton:hover,
#createTeamButton:hover {
  background-color: #218838;
}

#logoutButton {
  background-color: #dc3545;
}

#logoutButton:hover {
  background-color: #c82333;
}
